<div class="container mb-3">
    <div class="row">

        <div class="col-sm-6 offset-sm-3">
            <mdb-card class="mt-4">

                <!-- Card Header -->
                <mdb-card-header class="primary-color text-white px-lg-5 py-4">
                    <h5>
                        <!-- <mdb-icon *ngIf="'SuccessIcon'" fas icon="check" class="text-success" aria-hidden="true"></mdb-icon>
                        <mdb-icon *ngIf="'ErrorIcon'" fas icon="times" class="text-danger" aria-hidden="true"></mdb-icon> -->
                        <strong>{{ title }}</strong>
                    </h5>
                </mdb-card-header>

                <!-- Card content -->
                <mdb-card-body class="px-lg-5 mt-2">                    
                    <div>
                        <p class="fs-md">
                            {{ message }}
                        </p>
                    </div> 
                </mdb-card-body>

            </mdb-card>

        </div>

    </div>
</div>

<<ng-template #loading>
    <app-circle-progress [state]="state"></app-circle-progress>
</ng-template>

