<!-- Forgot Password Notification Email -->
<div mdbModal #frameForgotPassword="mdbModal" class="modal fade top "
    id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    [config]="{backdrop: true, ignoreBackdropClick: false}" aria-hidden="true">

  <div class="modal-dialog modal-xs modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <h3 class="heading">Forgot Password</h3>

        <button type="button" [disabled]="sending" class="close" data-dismiss="modal"
            aria-label="Close" (click)="hideModalForgotPassword()">

          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body px-lg-5">
        <form [formGroup]="resetPasswordForm">
          <p>Enter your email address to request a password reset.</p>
          <!-- Email -->
          <div class="md-form form-sm mt-5 mb-5">
            <mdb-icon fas icon="envelope" class="text-primary prefix"></mdb-icon>
            <input mdbInput type="email" class="form-control"
              id="formResetEmail" data-error="invalid email"
              data-success="valid email" formControlName="resetEmail">

            <label for="formResetEmail">Email</label>
          </div>
        </form>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center px-lg-5">
        <button mdbBtn [disabled]="sending" class="btn-block btn-round-lg bg-success text-white" outline="true" mdbWavesEffect
            (click)="forgotPassword()">

          <i class="fas fa-sync-alt left" aria-hidden="true"></i>Send Email
          <i *ngIf="sending" class="fas fa-spinner fa-pulse fa-lg ml-2" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!-- Activation Account  Notification Email -->
<div mdbModal #frameActivationAccount="mdbModal" class="modal fade top "
    id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    [config]="{backdrop: true, ignoreBackdropClick: true}" aria-hidden="true">

  <div class="modal-dialog modal-xs modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <h3 class="heading">Activation Account</h3>

        <button type="button" [disabled]="sending" class="close" data-dismiss="modal"
            aria-label="Close" (click)="hideModalActivationAccount()">

          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
          <p>
            You are viewing this message because you have not activated your account.
            We send you an account activation email, if you still do not keep it in your inbox,
            you can send it again by pressing <strong>RESEND EMAIL VERIFICATION</strong> button below.
          </p>

          <p>Please check your email and click on the link to verify your email address.</p>
          <p><strong>Thanks.</strong></p>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button mdbBtn [disabled]="sending" class="bg-success text-white" mdbWavesEffect
            (click)="sendVerificationMail()">
          <i class="fas fa-sync-alt left" aria-hidden="true"></i>Resend email verification
          <i *ngIf="sending" class="fas fa-spinner fa-pulse fa-lg ml-2" aria-hidden="true"></i>
        </button>

        <button mdbBtn [disabled]="sending" class="bg-primary text-white" mdbWavesEffect
            (click)="hideModalActivationAccount()">

          <i class="fas fa-ban left" aria-hidden="true"></i>Close
        </button>

      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!-- Login Component -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <!-- Material form login -->
      <mdb-card class="w-responsive mt-4">
        <!--Card Header-->
        <mdb-card-header class="primary-color white-text text-center py-4">
          <h5 i18n><strong>Sign in</strong></h5>
        </mdb-card-header>

        <!--Card content-->
        <mdb-card-body class="px-lg-5">
          <form [formGroup]="loginForm">
            <!-- Email -->
            <div class="md-form form-sm mt-3">
              <mdb-icon fas icon="user" class="prefix"></mdb-icon>
              <input mdbInputDirective type="email" class="form-control"
                  id="formEmail" formControlName="email"
                  [validateSuccess]="false"
                  [errorMessage]="emailError">

              <label for="formEmail">Email</label>
            </div>

            <!-- Password -->
            <div class="md-form form-sm">
              <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
              <input mdbInputDirective type="password" class="form-control"
                  id="formPassword" formControlName="password"
                  data-error="password must be at least 6 character"
                  [validateSuccess]="false" minlength="6" >

              <label for="formPassword">Password</label>
            </div>

            <div class="d-flex justify-content-around font-small">
              <div>
                <!-- Forgot password -->
                <a (click)="showModalForgotPassword()" routerLinkActive="active" class="text-primary">
                  Forgot password?
                </a>
              </div>
            </div>

            <!-- Sign in button -->
            <button [disabled]="clicked" class="btn btn-primary btn-block my-3 waves-light btn-round-xs"
                type="submit" (click)="login()" mdbWavesEffect>

              <a class="text-center">Sign in</a>
              <i *ngIf="!loading" class="fas fa-sign-in-alt ml-2" aria-hidden="true"></i>
              <i *ngIf="loading" class="fas fa-spinner fa-pulse fa-lg ml-2" aria-hidden="true"></i>
            </button>

            <div class="text-center font-small mt-0 mb-0">

              <hr class="mb-1 hr-text text-success" data-content="SIGN IN WITH">

              <!-- Google +-->
              <button mdbBtn [disabled]="clicked"
                  class="btn-round-xs btn-block bg-google-plus text-white"
                  outline="true" type="button" mdbWavesEffect
                  (click)="loginWithGoogle()">

                <a class="text-center">Google</a>
                <i *ngIf="!googleLoading" class="fab fa-google ml-2" aria-hidden="true"></i>
                <i *ngIf="googleLoading" class="fas fa-spinner fa-pulse fa-lg ml-2" aria-hidden="true"></i>
              </button>

              <!-- Register -->
              <p class="mt-3">Not registered?
                 <a routerLink="/auth/register-user" routerLinkActive="active">Sign up</a>
              </p>

            </div>

          </form>

        </mdb-card-body>

      </mdb-card>

    </div>

  </div>

</div>
