i, span {
  cursor: pointer;
}

.mat-fab {
  position: fixed;
  bottom: 3rem;
  right: 1rem;
}

img {
  max-width: 80px;
  max-height: 80px;
}

tr:hover td,
tr:hover th {
  background: none !important;
}
